.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--paddingMax);
    background-color: var(--bg);
    position: sticky;
    top: 20px;
}
.title{
    color: var(--safAccent);
    font-weight: bold;
    text-transform: capitalize;
}
.menu{
    display: flex;
    align-items: flex-end;
    align-items: center;
    gap: calc(var(--gap)*4);
}

.input{
    background-color: transparent;
    border: none;
    color: var(--textSoft);
}

.input:focus{
    outline: none;
}

.icons{
    display: flex;
    gap: var(--gap);
}
.icon{
    margin: 0px var(--marginMin);
    transition: 0.3s;
}

.icon:hover{
    color: var(--safAccent);
}

.logo{
    margin: 0px, var(--marginMax);
}