:root {
    --bg: #ffffff;
    --bgSoft: #f4f4f6;
    --safAccent: #52b44b;
    --text: #000000;
    --textSoft: #717171;
    --activeTab: #f4f4f4;
    --padding: 20px;
    --paddingMin: 10px;
    --marginMax: 20px;
    --marginMin: 5px;
    --gap: 10px;
    --textH2: 16px 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgSoft);
    color: var(--text);
}
a{
    text-decoration: none;
    color: var(--textSoft);
}
text{
    color: var(--textSoft);
}